$primary-color-light: #f8f1f1;
$primary-color-dark: #2c3e50;
$color-bluegrey: #778ca3;
$border-color: rgb(175, 172, 172);
$bg-color: white;

html {
	//This defines what 1rem is
	font-size: 62.5%; //1rem = 10px; 10px / 16px = 62.5%

	@media only screen and (max-width: 900px) {
		font-size: 52%;
	}
}
body {
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: black;
}

h1 {
	font-size: 6rem;
	font-weight: 100;
}

ul {
	margin: 0;
}

.container {
	background-color: $bg-color;
	// overflow-x: hidden;
	// overflow-y: scroll;
	// perspective: 1px;
	// perspective-origin: 0 0;
	// width: 100%;
	// height: 100%;
}

.header {
	position: sticky;
	opacity: 1;
	top: 0;
	//min-height: 10vh;
	//left: 0;
	width: 100%;
	background-color: $bg-color;
	z-index: 3;
	//height: auto;
}

.nav-holder {
	background-color: $bg-color;
	//padding: 0 1rem;
}

.nav {
	height: 2.5vh;
	// width: 50vw;
	display: flex;
	justify-content: space-between;
	padding: 3rem 2rem;
	background-color: $bg-color;
	// color: #40739e;
	border-radius: 1rem;
	align-items: center;

	&__logo {
		font-size: 3rem;
		font-weight: 500;
		list-style: none;
		padding: 0 2rem;
		opacity: 1;
		transform: translateY(-10rem);
	}

	// &__about,
	// &__projects,
	// &__contac
	.nav__item {
		font-size: 2rem;
		font-weight: 100;
		list-style: none;
		padding: 0 2rem;
		transform: translateX(100rem);
	}

	// &__about {
	// 	transform: translateX(100rem);
	// }
	// &__projects {
	// 	transform: translateX(100rem);
	// }
	// &__contact {
	// 	transform: translateX(100rem);
	// }
}

.slide-down {
	animation: slide-down 2.5s ease-out;
	animation-fill-mode: forwards;
}

@keyframes slide-down {
	0% {
		opacity: 0;
		scale: 0;
	}

	90% {
		scale: 1.1;
	}

	100% {
		opacity: 1;
		scale: 1;
		transform: translateY(0rem);
	}
}

.slide-left {
	animation: slide-left 2.5s ease-out 2s;
	animation-fill-mode: forwards;
}

@keyframes slide-left {
	0% {
		opacity: 0;
		scale: 0;
	}

	90% {
		opacity: 1;
		scale: 1.1;
	}

	100% {
		opacity: 1;
		scale: 1;
		transform: translateX(0rem);
	}
}

.welcome {
	height: 90vh;
	width: 95vw;
	margin: auto;
	border-radius: 1rem;
	/*
	background-image: linear-gradient(
		to bottom,
		rgba($primary-color-dark, 0.8),
		rgba($primary-color-light, 0.8)
	);*/
	background-size: cover;
	background-position: center;
	position: relative;
	justify-content: center;
}

.welcome-text {
	// font-weight: 100;
	position: absolute;
	top: 55%;
	left: 0%;
	transform: translate(0%, -50%);
	height: 55rem;
	width: 75vw;
	// border-radius: 100rem;
	background-color: $bg-color;
	opacity: 0.8;
	text-align: left;
	display: flex;
	flex-direction: column;

	&--main,
	&--intro {
		font-size: 6rem;
		font-weight: 100;
		margin: 0;
		// padding-bottom: 3rem;
	}
}

.cursor {
	border-right: 0.3rem solid #777;
}

.projects {
	// overflow-x: hidden;
	// overflow-y: scroll;
	// perspective: 1px;
	// perspective-origin: 0 0;
	width: 100%;
	height: 100%;
	max-width: 80vw;
	margin: 0 auto;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	grid-gap: 10rem;

	// background-image: url('/img/portfolio-background-faded.png');
	// background-size: cover;
	// background-position: center;.
	// background-color: white;

	&__header {
		// font-size: 6rem;
		max-width: 100vw;
		grid-column: 1 / 3;
		grid-row: 1 / 2;
		text-align: center;
		// transform-origin: 0 0;
		// transform: translateZ(-2px) scale(3);
	}

	&__tile {
		// display: grid;
		// transform-origin: 0 0;
		// transform: translateZ(-2px) scale(3);
		// transform-style: preserve-3d;

		// 	//border: 1px solid $border-color;
		// 	//border-radius: 5px;
		// padding: 0.5rem;
		// 	transition: transform 0.5s ease;

		// 	/*&:hover {
		// 		transform: scale(1.9);
		// 	}*/
		// }
		&--1 {
			grid-column: 1 / 2;
			grid-row: 2 / 5;
		}

		&--2 {
			grid-column: 2 / 3;
			grid-row: 4 / 7;
		}

		&--3 {
			grid-column: 1 / 2;
			grid-row: 6 / 9;
		}

		&--4 {
			grid-column: 2 / 3;
			grid-row: 8 / 11;
		}
	}

	// &__grid {
	// 	display: grid;
	// 	grid-template-columns: repeat(2, 1fr);
	// 	grid-template-rows: auto;
	// 	align-content: center;
	// 	padding: 12rem 6rem;
	// }

	&__tile--image-1,
	&__tile--image-2,
	&__tile--image-3,
	&__tile--image-4 {
		// height: auto;
		max-width: 100%;
		object-fit: contain;
		border-radius: 5px;
	}

	&__tile--header-1,
	&__tile--header-2,
	&__tile--header-3,
	&__tile--header-4 {
		font-size: 2rem;
		padding-left: 2rem;
	}
}

svg {
	fill: black;
	z-index: 100;
}

.contact {
	height: 85vh;
	width: auto;
	//position: relative;
	//align-content: center;
	//align-items: center;
	padding: 12rem 20rem 12rem 20rem;
	// background-image: url("/img/alice-mourou-nliiE9lkYec-unsplash.jpg");
	background-size: cover;
	background-position: center;
}

.contact-list {
	display: flex;
	justify-content: space-around;
	align-content: center;

	&__header {
		text-align: center;
	}

	&__icon {
		width: 3rem;
		height: 3rem;
		z-index: 10;
	}

	&__item {
		list-style: none;
	}
}

.footer {
	font-size: 1.5rem;
	padding: 4rem;
	// background-color: #1488cc;
}

// .code {
// 	position: fixed;
// 	padding-left: 10rem;
// 	top: 0;
// 	left: 0;
// 	height: 100vh;
// 	width: 100vw;
// 	display: flex;
// 	flex-direction: column;
// 	justify-content: center;
// 	background-color: rgb(70, 67, 67);
// 	color: white;
// 	z-index: 1000;
// }
// 	&__snippet {
// 		&--1,
// 		&--2,
// 		&--3,
// 		&--4,
// 		&--5,
// 		&--6,
// 		&--7,
// 		&--8,
// 		&--9,
// 		&--10,
// 		&--11,
// 		&--12,
// 		&--13,
// 		&--14 {
// 			font-size: 3rem;
// 			font-family: 'Source Code Pro', monospace;
// 		}

// 		&--2,
// 		&--3,
// 		&--4,
// 		&--5,
// 		&--6,
// 		&--7,
// 		&--8,
// 		&--9,
// 		&--10,
// 		&--11,
// 		&--12 {
// 			padding-left: 10rem;
// 		}

// 		&--1,
// 		&--13 {
// 			padding-left: 5rem;
// 		}
// 	}
// }

// .hidden {
// 	visibility: hidden;
// 	opacity: 0;
// }

// .typing span {
// 	border-right: 0.15em solid orange;
// 	font-family: 'Courier';
// 	font-size: 14px;
// 	white-space: nowrap;
// 	overflow: hidden;
// }
// .typing span:nth-child(1) {
// 	width: 7.3em;
// 	-webkit-animation: type 2s steps(40, end);
// 	animation: type 2s steps(40, end);
// 	-webkit-animation-fill-mode: forwards;
// 	animation-fill-mode: forwards;
// }

// .typing span:nth-child(2) {
// 	width: 11.5em;
// 	opacity: 0;
// 	-webkit-animation: type2 2s steps(40, end);
// 	animation: type2 2s steps(40, end);
// 	-webkit-animation-delay: 2s;
// 	animation-delay: 2s;
// 	-webkit-animation-fill-mode: forwards;
// 	animation-fill-mode: forwards;
// }

// .typing span:nth-child(3) {
// 	width: 7.3em;
// 	opacity: 0;
// 	-webkit-animation: type3 5s steps(20, end),
// 		blink 0.5s step-end infinite alternate;
// 	animation: type3 5s steps(20, end), blink 0.5s step-end infinite alternate;
// 	-webkit-animation-delay: 4s;
// 	animation-delay: 4s;
// 	-webkit-animation-fill-mode: forwards;
// 	animation-fill-mode: forwards;
// }

// @keyframes type {
// 	0% {
// 		width: 0;
// 	}
// 	99.9% {
// 		border-right: 0.15em solid orange;
// 	}
// 	100% {
// 		border: none;
// 	}
// }

// @-webkit-keyframes type {
// 	0% {
// 		width: 0;
// 	}
// 	99.9% {
// 		border-right: 0.15em solid orange;
// 	}
// 	100% {
// 		border: none;
// 	}
// }

// @keyframes type2 {
// 	0% {
// 		width: 0;
// 	}
// 	1% {
// 		opacity: 1;
// 	}
// 	99.9% {
// 		border-right: 0.15em solid orange;
// 	}
// 	100% {
// 		opacity: 1;
// 		border: none;
// 	}
// }

// @-webkit-keyframes type2 {
// 	0% {
// 		width: 0;
// 	}
// 	1% {
// 		opacity: 1;
// 	}
// 	99.9% {
// 		border-right: 0.15em solid orange;
// 	}
// 	100% {
// 		opacity: 1;
// 		border: none;
// 	}
// }

// @keyframes type3 {
// 	0% {
// 		width: 0;
// 	}
// 	1% {
// 		opacity: 1;
// 	}
// 	100% {
// 		opacity: 1;
// 	}
// }

// @-webkit-keyframes type3 {
// 	0% {
// 		width: 0;
// 	}
// 	1% {
// 		opacity: 1;
// 	}
// 	100% {
// 		opacity: 1;
// 	}
// }

// @keyframes blink {
// 	50% {
// 		border-color: transparent;
// 	}
// }
// @-webkit-keyframes blink {
// 	50% {
// 		border-color: tranparent;
// 	}
// }
