.container {
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	//background-image: url(/img/Galibier.jpg);
	//background-size: cover;
	//background-position: center;
	//width: 100%;
}

.header {
	font-size: 3rem;
	color: black;
}

.quote {
	text-align: center;
	color: black;

	&-text {
		font-size: 2rem;
	}

	&-from {
		padding-bottom: 2rem;
	}
}

.recommend {
	padding: 1.5rem 0;
	font-size: 1.5rem;
	width: 100%;
	box-sizing: border-box;
	border-radius: 0.5rem;

	&__box {
		border: 1px solid #999;
		color: rgb(169, 160, 160);
		font-family: inherit;
	}
}

.h2 {
	font-size: 3rem;
}

.questions__head {
	padding-top: 2rem;
}

.comments {
	font-size: 1.5rem;
	font-family: inherit;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	// Center the form on the page
	margin: 0 auto;
	width: 1000px;
	// Form outline
	padding: 1em;
	border: 1px solid gray;
	border-radius: 1em;
	background-color: lightgrey;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

form li + li {
	margin-top: 1em;
}

label {
	// Uniform size & alignment
	display: flex;
	align-items: center;
	text-align: right;
	font-size: 1.5rem;
	padding-bottom: 0.5rem;
	padding-top: 2rem;
	transform: translateX(0.35rem);
}

input {
	//To make sure that all text fields have the same font settings
	//   By default, textareas have a monospace font
	font-size: 1.5rem;
	color: rgb(169, 160, 160);
	font-family: inherit;

	// Uniform text field size
	height: 4rem;
	width: 100%;
	box-sizing: border-box;
	border-radius: 0.5rem;

	// Match form field borders
	border: 1px solid #999;
}

textarea {
	width: 100%;
	box-sizing: border-box;
	border-radius: 0.5rem;
	border: 1px solid #999;
}

input:focus,
textarea:focus {
	// Additional highlight for focused elements
	border-color: #000;
}

textarea {
	// Align multiline text fields with their labels
	vertical-align: top;

	// Provide space to type some text
	height: 5em;
}

.favorite {
	padding-top: 3rem;
}
/*
.button {
	// Align buttons with the text fields
	padding-left: 90px; // same size as the label elements
}

button {
	// This extra margin represent roughly the same space as the space
	//   between the labels and their text fields
	margin-left: 0.5em;
}
